
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.padding {
        padding: 50px
    }
</style>
<h1>About</h1>

<div class="container border" style="padding:50px">
    <div class="container border text-dark" style="padding:50px">
        <h1 class="font-weight-bold">Fernando Martinez</h1>
        <p>Freelance Developer</p>
    </div>
</div>
<img src="https://avatars3.githubusercontent.com/u/39782229?s=460&u=e7962ddc792d6c3930b09e84b5198a1d93eb82e4&v=4"
     class="rounded-circle img-thumbnail img-fluid float-right "
     style="width:150px; transform: translate(-50px, -75px)" /> 
<div class="container border">
    <div class="container border" style="padding:50px">
        <!-- some text-->
        <p>Some text</p>
    </div>
    <div class="container border" style="padding:50px">
        <!-- some text-->
        <p>Some text</p>
    </div>
</div>
<div style="word-break:normal"></div>