@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<div class="jumbotron text-center p-3 my-3 bg-dark text-white">*@
<div class="container bg-dark text-lg-center p-3 my-3 text-white">
    <div class="col-sm-6">
        <img src="https://avatars3.githubusercontent.com/u/39782229?s=460&u=e7962ddc792d6c3930b09e84b5198a1d93eb82e4&v=4"
             class="rounded-circle float-left img-thumbnail img-fluid"
             style="width:150px" />
    </div>
    <h1>Fernando Martinez</h1>
    <p>SAP IS-U Consultant at Accenture Argentina</p>
</div>
<div class="container p-3 my-3 border text-center">
    <div class="row">
        <div class="col-sm-4">
            <p>Developer Skills</p>
        </div>

        <div class="col-sm-4">
            <p>Professional Experience</p>
        </div>

        <div class="col-sm-4">
            <p>Hobbies</p>
        </div>

    </div>
</div>
