@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="jumbotron text-center">
    <h1>Fernando Martinez</h1>
    <p>SAP IS-U Consultant | Accenture</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>Formación Académica</p>
        </div>

        <div class="col-sm-4">
            <p>Experiencia Profesional</p>
        </div>

        <div class="col-sm-4">
            <p>Hobbies</p>
        </div>
    </div>
</div>
